<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FitnessClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C9FE7A82DC9FC5C00D926D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9FE7B52DC9FC5E00D926D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9FE7BF2DC9FC5E00D926D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
